################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

MyWarCreator/AppData
MyWarCreator/bin
MyWarCreator/obj